extends components/template.pug
block contenido
  section.error__container
    h1.error__titulo Error 404
      span.error__titulo--red.error__titulo Error 404
      span.error__titulo--blue.error__titulo Error 404
      span.error__titulo--white.error__titulo Error 404
    p Pagina no encontrada