section.contact(id="contacto")
  form.form_email(action="mailto:contacto@fjaraujo.com")
    h3 ¿Creamos algo juntos?
    button(id="boton_enviar") Enviame un email
  .social
    +social("blog","http://blog.fjaraujo.com")
    +social("twitter","https://twitter.com/fjarauj0")
    +social("facebook","https://www.facebook.com/fjarauj0")
    +social("github","https://github.com/fjarauj0")
    +social("instagram","https://www.instagram.com/fjarauj0/")
    +social("linkedin","https://www.linkedin.com/in/fjarauj0/")