section.contact(id="contacto")
  form.form_email(action="mailto:contacto@fjaraujo.com")
    h3 ¿Creamos algo juntos?
    button(id="boton_enviar") Enviame un email
  .social
    +social("blog","http://blog.fjaraujo.com","_blank")
    +social("twitter","https://twitter.com/fjarauj0","_blank")
    +social("facebook","https://www.facebook.com/fjarauj0","_blank")
    +social("github","https://github.com/faraujo0","_blank")
    +social("instagram","https://www.instagram.com/fjarauj0/","_blank")
    +social("linkedin","https://www.linkedin.com/in/francisco-javier-araujo-de-la-garza-449024180/","_blank")