header.header
  figure.logo
    a(href="/"): img(src="images/Francisco Araujo-logo/vector/default-monochrome-white.svg" height="50" alt="Logo imagen")
  nav.menu
    ol
      li: a.link(href="index.html") Portafolio
      li: a.link(href="#contacto") Contacto
      li: a.link(href="perfil.html") Perfil