header.header
  figure.logo
    a(href=""): img(src="images/logo.png" height="50" alt="Logo imagen")
  nav.menu
    ol
      li: a.link(href="#portafolio") Portafolio
      li: a.link(href="#contacto") Contacto
      li: a.link(href="perfil.html") Perfil