head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="Description" content="Mi nombre es Francisco Araujo soy desarrollador web y este es mi portafolio de proyectos")
  link(rel="shortcut icon", href="images/Francisco Araujo-logo/profile.png", type="image/x-icon")
  link(rel="stylesheet", href="css/styles.css")
  link(rel="stylesheet", href="css/mobile.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Roboto|Source+Sans+Pro&display=swap")
  title Francisco Araujo