body {
  margin: 0;
  background-color: #00b8d4;
  font-family: "Muli", sans-serif;
}

.header {
  background-color: #00b8d4;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  width: 250px;
  margin-left: 10px;
}

.menu-principal {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.menu-principal__link {
  color: white;
  text-decoration: none;
}

.menu-principal__list {
  display: none;
  list-style: none;
  position: absolute;
  width: 100px;
  text-align: right;
  background-color: #00b8d4;
  margin: 0;
  padding: 9px;
}

.menu-principal li {
  margin: 10px 0;
}

.menu-principal:hover ul, ul:hover {
  display: block;
}

.menu-principal li a:hover {
  text-decoration: underline;
}

.menu-principal__icon {
  width: 50px;
  margin-right: 9px;
}

.menu-principal__title {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.menu-principal__title p {
  margin: 0;
}

.busqueda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.busqueda__titulo {
  color: white;
}

.busqueda__input {
  border: 2px solid white;
  border-radius: 20px;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  padding: 0 20px;
  height: 40px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.1);
}

.busqueda__input::placeholder {
  color: white;
}

.busqueda__input:focus {
  outline: none;
}

.categories__title {
  color: white;
  font-size: 16px;
  position: absolute;
  padding-left: 30px;
  width: 100%;
}

.carrousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.carrousel__container {
  white-space: nowrap;
  margin: 70px 0;
  width: 100%;
  padding-bottom: 10px;
}

.carrousel__item {
  background-color: gray;
  overflow: hidden;
  border-radius: 25px;
  margin-right: 10px;
  width: 200px;
  height: 250px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms;
  transform-origin: center left;
}

.carrousel__item:hover ~ .carrousel__item {
  transform: translate3d(100px, 0, 0);
}

.carrousel__container:hover .carrousel__item {
  opacity: 0.3;
}

.carrousel__container:hover .carrousel__item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.login {
  background: linear-gradient(#00b8d4, #8F57FD);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  min-height: calc(100vh - 200px);
  padding-bottom: 50px;
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 600px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__label {
  font-size: 14px;
}

.login__remember-container {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__link {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login__link--big {
  font-size: 16px;
  font-weight: bold;
}

.login__link:hover {
  color: white;
  font-size: 14px;
  text-decoration: underline;
}

.login__link--big:hover {
  font-size: 16px;
}

.login__social-container div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login__social-logo {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.login__registro {
  font-size: 14px;
}

.login__input {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid white;
  font-family: "Muli", sans-serif;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  height: 50px;
}

::placeholder {
  color: white;
}

.login__button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Muli", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 40px 0;
}

.footer {
  display: flex;
  align-items: center;
  background-color: black;
  height: 30px;
  width: 100%;
}

.footer--absolute {
  position: absolute;
  bottom: 0;
}

.footer a {
  padding-left: 30px;
}

.footer--void {
  background-color: transparent;
}

.gradient-container {
  background: linear-gradient(#00b8d4, #8F57FD);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  color: white;
}

.notfound__404 {
  font-size: 100px;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    padding: 5px 0;
    background-color: #8F57FD;
  }

  .footer--void {
    background-color: transparent;
  }

  .footer--absolute {
    background-color: transparent;
  }
}

/*# sourceMappingURL=estilo.css.map */
